# Problem Statment:

1.Loan Elegibility
2.LoanAmount
3.Loan Amount Term

# Problem Statment:1

# Loan Elegibility

# Fetch Data

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
import pandas as pd

In [3]:
A=pd.read_csv("C:/Users/Anuj.kumar/Desktop/DATA/Project2/training_set.csv")
pd.set_option("display.max_columns",None)
pd.set_option("display.max_row",None)

In [4]:
A.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y

# Check missing data

In [5]:
A.isna().sum()

Loan_ID               0
Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

# Replace missing values

In [6]:
for i in A.columns:
    if(A[i].dtype=="object"):
        replace=A[i].mode()[0]
        A[i]=A[i].fillna(replace)
    else:
        replace=A[i].mean()
        A[i]=A[i].fillna(replace)

In [7]:
A.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

# Define X and Y

In [8]:
Y=A[["Loan_Status"]]

In [9]:
X=A.drop(labels=["Loan_Status","Loan_ID"],axis=1)

In [10]:
cat=[]
con=[]

In [11]:
for i in X.columns:
    if(X[i].dtype=="object"):
        cat.append(i)
    else:
        con.append(i)

# Preprocessing

In [12]:
Xa=pd.get_dummies(X[cat])
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
Xb=pd.DataFrame(ss.fit_transform(X[con]),columns=con)
X1=Xb.join(Xa)

In [13]:
X1.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.072651,-0.554368,0.000000,0.279851,0.45164,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,0.000000,-0.038610,-0.219273,0.279851,0.45164,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,-0.394096,-0.554368,-0.957641,0.279851,0.45164,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,-0.462412,0.252103,-0.314547,0.279851,0.45164,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,0.097389,-0.554368,-0.064454,0.279851,0.45164,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1

# Divide Data into training and testing set

In [14]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X1,Y,test_size=0.2,random_state=26)

# Logistic Regression

In [15]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
model = lr.fit(xtrain,ytrain)

from sklearn.metrics import confusion_matrix,accuracy_score

pred_ts=model.predict(xtest)
pred_tr=model.predict(xtrain)

training_acc=accuracy_score(ytrain,pred_tr)
print("Training_acc: ",round(training_acc,2))
print(confusion_matrix(ytrain,pred_tr))

testing_acc=accuracy_score(ytest,pred_ts)
print("Testing_acc: ",round(testing_acc,2))
print(confusion_matrix(ytest,pred_ts))

Training_acc:  0.81
[[ 75  86]
 [  7 323]]
Testing_acc:  0.81
[[11 20]
 [ 3 89]]

# Test Data

In [16]:
A1=pd.read_csv("C:/Users/Anuj.kumar/Desktop/testing_sett.csv")

In [132]:
A1.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_loan_status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.000000,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.000000,Urban,Y
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.000000,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,0.825444,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.000000,Urban,Y

In [133]:
A1.shape

(367, 13)

# Check missing data

In [17]:
A1.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

# Replace missing values

In [18]:
cat=[]
con=[]

In [19]:
for i in A1.columns:
    if(A1[i].dtype=="object"):
        cat.append(i)
        replacer=A1[i].mode()[0]
        A1[i]=A1[i].fillna(replacer)
    else:
        con.append(i)
        replacer=A1[i].mean()
        A1[i]=A1[i].fillna(replacer)

In [20]:
A1.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [21]:
A1.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.000000,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.000000,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.000000,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,0.825444,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.000000,Urban

# Define X

In [22]:
Xtest=A1.drop(labels=["Loan_ID"],axis=1)

In [23]:
cat=[]
con=[]

In [24]:
for i in Xtest.columns:
    if(Xtest[i].dtype=="object"):
        cat.append(i)
    else:
        con.append(i)

In [25]:
Xc=pd.get_dummies(Xtest[cat])
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
Xd=pd.DataFrame(ss.fit_transform(Xtest[con]),columns=con)
X2=Xd.join(Xc)

In [134]:
X2.shape

(367, 20)

In [26]:
model.predict(X2)

array(['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y'], dtype=object)

In [27]:
A1["Predicted_loan_status"]=model.predict(X2)

In [28]:
A1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_loan_status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.000000,360.000000,1.000000,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.000000,360.000000,1.000000,Urban,Y
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.000000,360.000000,1.000000,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.000000,360.000000,0.825444,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.000000,360.000000,1.000000,Urban,Y
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.000000,360.000000,1.000000,Urban,Y
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.000000,360.000000,1.000000,Semiurban,Y
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.000000,360.000000,0.000000,Rural,N
8,LP001059,Male,Yes,2,Graduate,No,13633,0,280.000000,240.000000,1.000000,Urban,Y
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.000000,360.000000,1.000000,Semiurban,Y
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.000000,360.000000,1.000000,Urban,Y
11,LP001082,Male,Yes,1,Graduate,No,2185,1516,162.000000,360.000000,1.000000,Semiurban,Y
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.000000,180.000000,0.825444,Urban,Y
13,LP001094,Male,Yes,2,Graduate,No,12173,0,166.000000,360.000000,0.000000,Semiurban,N
14,LP001096,Female,No,0,Graduate,No,4666,0,124.000000,360.000000,1.000000,Semiurban,Y
15,LP001099,Male,No,1,Graduate,No,5667,0,131.000000,360.000000,1.000000,Urban,Y
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.000000,360.000000,1.000000,Urban,Y
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.000000,360.000000,1.000000,Semiurban,Y
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.000000,360.000000,1.000000,Urban,Y
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.000000,180.000000,1.000000,Semiurban,Y
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.000000,360.000000,1.000000,Urban,Y
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.000000,180.000000,1.000000,Urban,Y
22,LP001128,Male,No,0,Graduate,No,3909,0,101.000000,360.000000,1.000000,Urban,Y
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.000000,360.000000,1.000000,Urban,Y
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.000000,360.000000,1.000000,Urban,Y
25,LP001153,Male,No,0,Graduate,No,0,24000,148.000000,360.000000,0.000000,Rural,N
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.000000,360.000000,0.825444,Urban,Y
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.000000,360.000000,1.000000,Urban,Y
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.000000,360.000000,0.825444,Semiurban,Y
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.000000,180.000000,1.000000,Urban,Y
30,LP001177,Female,No,0,Not Graduate,No,2478,0,75.000000,360.000000,1.000000,Semiurban,Y
31,LP001183,Male,Yes,2,Graduate,No,6250,820,192.000000,360.000000,1.000000,Urban,Y
32,LP001185,Male,No,0,Graduate,No,3268,1683,152.000000,360.000000,1.000000,Semiurban,Y
33,LP001187,Male,Yes,0,Graduate,No,2783,2708,158.000000,360.000000,1.000000,Urban,Y
34,LP001190,Male,Yes,0,Graduate,No,2740,1541,101.000000,360.000000,1.000000,Urban,Y
35,LP001203,Male,No,0,Graduate,No,3150,0,176.000000,360.000000,0.000000,Semiurban,N
36,LP001208,Male,Yes,2,Graduate,No,7350,4029,185.000000,180.000000,1.000000,Urban,Y
37,LP001210,Male,Yes,0,Graduate,Yes,2267,2792,90.000000,360.000000,1.000000,Urban,Y
38,LP001211,Male,No,0,Graduate,Yes,5833,0,116.000000,360.000000,1.000000,Urban,Y
39,LP001219,Male,No,0,Graduate,No,3643,1963,138.000000,360.000000,1.000000,Urban,Y
40,LP001220,Male,Yes,0,Graduate,No,5629,818,100.000000,360.000000,1.000000,Urban,Y
41,LP001221,Female,No,0,Graduate,No,3644,0,110.000000,360.000000,1.000000,Urban,Y
42,LP001226,Male,Yes,0,Not Graduate,No,1750,2024,90.000000,360.000000,1.000000,Semiurban,Y
43,LP001230,Male,No,0,Graduate,No,6500,2600,200.000000,360.000000,1.000000,Semiurban,Y
44,LP001231,Female,No,0,Graduate,No,3666,0,84.000000,360.000000,1.000000,Urban,Y
45,LP001232,Male,Yes,0,Graduate,No,4260,3900,185.000000,342.537396,0.825444,Urban,Y
46,LP001237,Male,Yes,0,Not Graduate,No,4163,1475,162.000000,360.000000,1.000000,Urban,Y
47,LP001242,Male,No,0,Not Graduate,No,2356,1902,108.000000,360.000000,1.000000,Semiurban,Y
48,LP001268,Male,No,0,Graduate,No,6792,3338,187.000000,342.537396,1.000000,Urban,Y
49,LP001270,Male,Yes,3+,Not Graduate,Yes,8000,250,187.000000,360.000000,1.000000,Semiurban,Y
50,LP001284,Male,Yes,1,Graduate,No,2419,1707,124.000000,360.000000,1.000000,Urban,Y
51,LP001287,Male,Yes,3+,Not Graduate,No,3500,833,120.000000,360.000000,1.000000,Semiurban,Y
52,LP001291,Male,Yes,1,Graduate,No,3500,3077,160.000000,360.000000,1.000000,Semiurban,Y
53,LP001298,Male,Yes,2,Graduate,No,4116,1000,30.000000,180.000000,1.000000,Urban,Y
54,LP001312,Male,Yes,0,Not Graduate,Yes,5293,0,92.000000,360.000000,1.000000,Urban,Y
55,LP001313,Male,No,0,Graduate,No,2750,0,130.000000,360.000000,0.000000,Urban,N
56,LP001317,Female,No,0,Not Graduate,No,4402,0,130.000000,360.000000,1.000000,Rural,Y
57,LP001321,Male,Yes,2,Graduate,No,3613,3539,134.000000,180.000000,1.000000,Semiurban,Y
58,LP001323,Female,Yes,2,Graduate,No,2779,3664,176.000000,360.000000,0.000000,Semiurban,N
59,LP001324,Male,Yes,3+,Graduate,No,4720,0,90.000000,180.000000,1.000000,Semiurban,Y
60,LP001332,Male,Yes,0,Not Graduate,No,2415,1721,110.000000,360.000000,1.000000,Semiurban,Y
61,LP001335,Male,Yes,0,Graduate,Yes,7016,292,125.000000,360.000000,1.000000,Urban,Y
62,LP001338,Female,No,2,Graduate,No,4968,0,189.000000,360.000000,1.000000,Semiurban,Y
63,LP001347,Female,No,0,Graduate,No,2101,1500,108.000000,360.000000,0.000000,Rural,N
64,LP001348,Male,Yes,3+,Not Graduate,No,4490,0,125.000000,360.000000,1.000000,Urban,Y
65,LP001351,Male,Yes,0,Graduate,No,2917,3583,138.000000,360.000000,1.000000,Semiurban,Y
66,LP001352,Male,Yes,0,Not Graduate,No,4700,0,135.000000,360.000000,0.000000,Semiurban,N
67,LP001358,Male,Yes,0,Graduate,No,3445,0,130.000000,360.000000,0.000000,Semiurban,N
68,LP001359,Male,Yes,0,Graduate,No,7666,0,187.000000,360.000000,1.000000,Semiurban,Y
69,LP001361,Male,Yes,0,Graduate,No,2458,5105,188.000000,360.000000,0.000000,Rural,N
70,LP001366,Female,No,0,Graduate,No,3250,0,95.000000,360.000000,1.000000,Semiurban,Y
71,LP001368,Male,No,0,Graduate,No,4463,0,65.000000,360.000000,1.000000,Semiurban,Y
72,LP001375,Male,Yes,1,Graduate,No,4083,1775,139.000000,60.000000,1.000000,Urban,Y
73,LP001380,Male,Yes,0,Graduate,Yes,3900,2094,232.000000,360.000000,1.000000,Rural,Y
74,LP001386,Male,Yes,0,Not Graduate,No,4750,3583,144.000000,360.000000,1.000000,Semiurban,Y
75,LP001400,Male,No,0,Graduate,No,3583,3435,155.000000,360.000000,1.000000,Urban,Y
76,LP001407,Male,Yes,0,Graduate,No,3189,2367,186.000000,360.000000,1.000000,Urban,Y
77,LP001413,Male,No,0,Graduate,Yes,6356,0,50.000000,360.000000,1.000000,Rural,Y
78,LP001415,Male,Yes,1,Graduate,No,3413,4053,136.132597,360.000000,1.000000,Semiurban,Y
79,LP001419,Female,Yes,0,Graduate,No,7950,0,185.000000,360.000000,1.000000,Urban,Y
80,LP001420,Male,Yes,3+,Graduate,No,3829,1103,163.000000,360.000000,0.000000,Urban,N
81,LP001428,Male,Yes,3+,Graduate,No,72529,0,360.000000,360.000000,1.000000,Urban,Y
82,LP001445,Male,Yes,2,Not Graduate,No,4136,0,149.000000,480.000000,0.000000,Rural,N
83,LP001446,Male,Yes,0,Graduate,No,8449,0,257.000000,360.000000,1.000000,Rural,Y
84,LP001450,Male,Yes,0,Graduate,No,4456,0,131.000000,180.000000,0.000000,Semiurban,N
85,LP001452,Male,Yes,2,Graduate,No,4635,8000,102.000000,180.000000,1.000000,Rural,Y
86,LP001455,Male,Yes,0,Graduate,No,3571,1917,135.000000,360.000000,1.000000,Urban,Y
87,LP001466,Male,No,0,Graduate,No,3066,0,95.000000,360.000000,1.000000,Semiurban,Y
88,LP001471,Male,No,2,Not Graduate,No,3235,2015,77.000000,360.000000,1.000000,Semiurban,Y
89,LP001472,Female,No,0,Graduate,No,5058,0,200.000000,360.000000,1.000000,Rural,Y
90,LP001475,Male,Yes,0,Graduate,Yes,3188,2286,130.000000,360.000000,0.825444,Rural,Y
91,LP001483,Male,Yes,3+,Graduate,No,13518,0,390.000000,360.000000,1.000000,Rural,Y
92,LP001486,Male,Yes,1,Graduate,No,4364,2500,185.000000,360.000000,1.000000,Semiurban,Y
93,LP001490,Male,Yes,2,Not Graduate,No,4766,1646,100.000000,360.000000,1.000000,Semiurban,Y
94,LP001496,Male,Yes,1,Graduate,No,4609,2333,123.000000,360.000000,0.000000,Semiurban,N
95,LP001499,Female,Yes,3+,Graduate,No,6260,0,110.000000,360.000000,1.000000,Semiurban,Y
96,LP001500,Male,Yes,1,Graduate,No,3333,4200,256.000000,360.000000,1.000000,Urban,Y
97,LP001501,Male,Yes,0,Graduate,No,3500,3250,140.000000,360.000000,1.000000,Semiurban,Y
98,LP001517,Male,Yes,3+,Graduate,No,9719,0,61.000000,360.000000,1.000000,Urban,Y
99,LP001527,Male,Yes,3+,Graduate,No,6835,0,188.000000,360.000000,0.825444,Semiurban,Y
100,LP001534,Male,No,0,Graduate,No,4452,0,131.000000,360.000000,1.000000,Rural,Y
101,LP001542,Female,Yes,0,Graduate,No,2262,0,136.132597,480.000000,0.000000,Semiurban,N
102,LP001547,Male,Yes,1,Graduate,No,3901,0,116.000000,360.000000,1.000000,Urban,Y
103,LP001548,Male,Yes,2,Not Graduate,No,2687,0,50.000000,180.000000,1.000000,Rural,Y
104,LP001558,Male,No,0,Graduate,No,2243,2233,107.000000,360.000000,0.825444,Semiurban,Y
105,LP001561,Female,Yes,0,Graduate,No,3417,1287,200.000000,360.000000,1.000000,Semiurban,Y
106,LP001563,Male,No,0,Graduate,No,1596,1760,119.000000,360.000000,0.000000,Urban,N
107,LP001567,Male,Yes,3+,Graduate,No,4513,0,120.000000,360.000000,1.000000,Rural,Y
108,LP001568,Male,Yes,0,Graduate,No,4500,0,140.000000,360.000000,1.000000,Semiurban,Y
109,LP001573,Male,Yes,0,Not Graduate,No,4523,1350,165.000000,360.000000,1.000000,Urban,Y
110,LP001584,Female,No,0,Graduate,Yes,4742,0,108.000000,360.000000,1.000000,Semiurban,Y
111,LP001587,Male,Yes,0,Graduate,No,4082,0,93.000000,360.000000,1.000000,Semiurban,Y
112,LP001589,Female,No,0,Graduate,No,3417,0,102.000000,360.000000,1.000000,Urban,Y
113,LP001591,Female,Yes,2,Graduate,No,2922,3396,122.000000,360.000000,1.000000,Semiurban,Y
114,LP001599,Male,Yes,0,Graduate,No,4167,4754,160.000000,360.000000,1.000000,Rural,Y
115,LP001601,Male,No,3+,Graduate,No,4243,4123,157.000000,360.000000,0.825444,Semiurban,Y
116,LP001607,Female,No,0,Not Graduate,No,0,1760,180.000000,360.000000,1.000000,Semiurban,Y
117,LP001611,Male,Yes,1,Graduate,No,1516,2900,80.000000,342.537396,0.000000,Rural,N
118,LP001613,Female,No,0,Graduate,No,1762,2666,104.000000,360.000000,0.000000,Urban,N
119,LP001622,Male,Yes,2,Graduate,No,724,3510,213.000000,360.000000,0.000000,Rural,N
120,LP001627,Male,No,0,Graduate,No,3125,0,65.000000,360.000000,1.000000,Urban,Y
121,LP001650,Male,Yes,0,Graduate,No,2333,3803,146.000000,360.000000,1.000000,Rural,Y
122,LP001651,Male,Yes,3+,Graduate,No,3350,1560,135.000000,360.000000,1.000000,Urban,Y
123,LP001652,Male,No,0,Graduate,No,2500,6414,187.000000,360.000000,0.000000,Rural,N
124,LP001655,Female,No,0,Graduate,No,12500,0,300.000000,360.000000,0.000000,Urban,N
125,LP001660,Male,No,0,Graduate,No,4667,0,120.000000,360.000000,1.000000,Semiurban,Y
126,LP001662,Male,No,0,Graduate,No,6500,0,71.000000,360.000000,0.000000,Urban,N
127,LP001663,Male,Yes,2,Graduate,No,7500,0,225.000000,360.000000,1.000000,Urban,Y
128,LP001667,Male,No,0,Graduate,No,3073,0,70.000000,180.000000,1.000000,Urban,Y
129,LP001695,Male,Yes,1,Not Graduate,No,3321,2088,70.000000,342.537396,1.000000,Semiurban,Y
130,LP001703,Male,Yes,0,Graduate,No,3333,1270,124.000000,360.000000,1.000000,Urban,Y
131,LP001718,Male,No,0,Graduate,No,3391,0,132.000000,360.000000,1.000000,Rural,Y
132,LP001728,Male,Yes,1,Graduate,Yes,3343,1517,105.000000,360.000000,1.000000,Rural,Y
133,LP001735,Female,No,1,Graduate,No,3620,0,90.000000,360.000000,1.000000,Urban,Y
134,LP001737,Male,No,0,Graduate,No,4000,0,83.000000,84.000000,1.000000,Urban,Y
135,LP001739,Male,Yes,0,Graduate,No,4258,0,125.000000,360.000000,1.000000,Urban,Y
136,LP001742,Male,Yes,2,Graduate,No,4500,0,147.000000,360.000000,1.000000,Rural,Y
137,LP001757,Male,Yes,1,Graduate,No,2014,2925,120.000000,360.000000,1.000000,Rural,Y
138,LP001769,Male,No,0,Graduate,No,3333,1250,110.000000,360.000000,1.000000,Semiurban,Y
139,LP001771,Female,No,3+,Graduate,No,4083,0,103.000000,360.000000,0.825444,Semiurban,Y
140,LP001785,Male,No,0,Graduate,No,4727,0,150.000000,360.000000,0.000000,Rural,N
141,LP001787,Male,Yes,3+,Graduate,No,3089,2999,100.000000,240.000000,1.000000,Rural,Y
142,LP001789,Male,Yes,3+,Not Graduate,No,6794,528,139.000000,360.000000,0.000000,Urban,N
143,LP001791,Male,Yes,0,Graduate,Yes,32000,0,550.000000,360.000000,0.825444,Semiurban,N
144,LP001794,Male,Yes,2,Graduate,Yes,10890,0,260.000000,12.000000,1.000000,Rural,Y
145,LP001797,Female,No,0,Graduate,No,12941,0,150.000000,300.000000,1.000000,Urban,Y
146,LP001815,Male,No,0,Not Graduate,No,3276,0,90.000000,360.000000,1.000000,Semiurban,Y
147,LP001817,Male,No,0,Not Graduate,Yes,8703,0,199.000000,360.000000,0.000000,Rural,N
148,LP001818,Male,Yes,1,Graduate,No,4742,717,139.000000,360.000000,1.000000,Semiurban,Y
149,LP001822,Male,No,0,Graduate,No,5900,0,150.000000,360.000000,1.000000,Urban,Y
150,LP001827,Male,No,0,Graduate,No,3071,4309,180.000000,360.000000,1.000000,Urban,Y
151,LP001831,Male,Yes,0,Graduate,No,2783,1456,113.000000,360.000000,1.000000,Urban,Y
152,LP001842,Male,No,0,Graduate,No,5000,0,148.000000,360.000000,1.000000,Rural,Y
153,LP001853,Male,Yes,1,Not Graduate,No,2463,2360,117.000000,360.000000,0.000000,Urban,N
154,LP001855,Male,Yes,2,Graduate,No,4855,0,72.000000,360.000000,1.000000,Rural,Y
155,LP001857,Male,No,0,Not Graduate,Yes,1599,2474,125.000000,300.000000,1.000000,Semiurban,Y
156,LP001862,Male,Yes,2,Graduate,Yes,4246,4246,214.000000,360.000000,1.000000,Urban,Y
157,LP001867,Male,Yes,0,Graduate,No,4333,2291,133.000000,350.000000,1.000000,Rural,Y
158,LP001878,Male,No,1,Graduate,No,5823,2529,187.000000,360.000000,1.000000,Semiurban,Y
159,LP001881,Male,Yes,0,Not Graduate,No,7895,0,143.000000,360.000000,1.000000,Rural,Y
160,LP001886,Male,No,0,Graduate,No,4150,4256,209.000000,360.000000,1.000000,Rural,Y
161,LP001906,Male,No,0,Graduate,No,2964,0,84.000000,360.000000,0.000000,Semiurban,N
162,LP001909,Male,No,0,Graduate,No,5583,0,116.000000,360.000000,1.000000,Urban,Y
163,LP001911,Female,No,0,Graduate,No,2708,0,65.000000,360.000000,1.000000,Rural,Y
164,LP001921,Male,No,1,Graduate,No,3180,2370,80.000000,240.000000,0.825444,Rural,Y
165,LP001923,Male,No,0,Not Graduate,No,2268,0,170.000000,360.000000,0.000000,Semiurban,N
166,LP001933,Male,No,2,Not Graduate,No,1141,2017,120.000000,360.000000,0.000000,Urban,N
167,LP001943,Male,Yes,0,Graduate,No,3042,3167,135.000000,360.000000,1.000000,Urban,Y
168,LP001950,Female,Yes,3+,Graduate,No,1750,2935,94.000000,360.000000,0.000000,Semiurban,N
169,LP001959,Female,Yes,1,Graduate,No,3564,0,79.000000,360.000000,1.000000,Rural,Y
170,LP001961,Female,No,0,Graduate,No,3958,0,110.000000,360.000000,1.000000,Rural,Y
171,LP001973,Male,Yes,2,Not Graduate,No,4483,0,130.000000,360.000000,1.000000,Rural,Y
172,LP001975,Male,Yes,0,Graduate,No,5225,0,143.000000,360.000000,1.000000,Rural,Y
173,LP001979,Male,No,0,Graduate,No,3017,2845,159.000000,180.000000,0.000000,Urban,N
174,LP001995,Male,Yes,0,Not Graduate,No,2431,1820,110.000000,360.000000,0.000000,Rural,N
175,LP001999,Male,Yes,2,Graduate,No,4912,4614,160.000000,360.000000,1.000000,Rural,Y
176,LP002007,Male,Yes,2,Not Graduate,No,2500,3333,131.000000,360.000000,1.000000,Urban,Y
177,LP002009,Female,No,0,Graduate,No,2918,0,65.000000,360.000000,0.825444,Rural,Y
178,LP002016,Male,Yes,2,Graduate,No,5128,0,143.000000,360.000000,1.000000,Rural,Y
179,LP002017,Male,Yes,3+,Graduate,No,15312,0,187.000000,360.000000,0.825444,Urban,Y
180,LP002018,Male,Yes,2,Graduate,No,3958,2632,160.000000,360.000000,1.000000,Semiurban,Y
181,LP002027,Male,Yes,0,Graduate,No,4334,2945,165.000000,360.000000,1.000000,Semiurban,Y
182,LP002028,Male,Yes,2,Graduate,No,4358,0,110.000000,360.000000,1.000000,Urban,Y
183,LP002042,Female,Yes,1,Graduate,No,4000,3917,173.000000,360.000000,1.000000,Rural,Y
184,LP002045,Male,Yes,3+,Graduate,No,10166,750,150.000000,342.537396,1.000000,Urban,Y
185,LP002046,Male,Yes,0,Not Graduate,No,4483,0,135.000000,360.000000,0.825444,Semiurban,Y
186,LP002047,Male,Yes,2,Not Graduate,No,4521,1184,150.000000,360.000000,1.000000,Semiurban,Y
187,LP002056,Male,Yes,2,Graduate,No,9167,0,235.000000,360.000000,1.000000,Semiurban,Y
188,LP002057,Male,Yes,0,Not Graduate,No,13083,0,136.132597,360.000000,1.000000,Rural,Y
189,LP002059,Male,Yes,2,Graduate,No,7874,3967,336.000000,360.000000,1.000000,Rural,Y
190,LP002062,Female,Yes,1,Graduate,No,4333,0,132.000000,84.000000,1.000000,Rural,Y
191,LP002064,Male,No,0,Graduate,No,4083,0,96.000000,360.000000,1.000000,Urban,Y
192,LP002069,Male,Yes,2,Not Graduate,No,3785,2912,180.000000,360.000000,0.000000,Rural,N
193,LP002070,Male,Yes,3+,Not Graduate,No,2654,1998,128.000000,360.000000,0.000000,Rural,N
194,LP002077,Male,Yes,1,Graduate,No,10000,2690,412.000000,360.000000,1.000000,Semiurban,Y
195,LP002083,Male,No,0,Graduate,Yes,5833,0,116.000000,360.000000,1.000000,Urban,Y
196,LP002090,Male,Yes,1,Graduate,No,4796,0,114.000000,360.000000,0.000000,Semiurban,N
197,LP002096,Male,Yes,0,Not Graduate,No,2000,1600,115.000000,360.000000,1.000000,Rural,Y
198,LP002099,Male,Yes,2,Graduate,No,2540,700,104.000000,360.000000,0.000000,Urban,N
199,LP002102,Male,Yes,0,Graduate,Yes,1900,1442,88.000000,360.000000,1.000000,Rural,Y
200,LP002105,Male,Yes,0,Graduate,Yes,8706,0,108.000000,480.000000,1.000000,Rural,Y
201,LP002107,Male,Yes,3+,Not Graduate,No,2855,542,90.000000,360.000000,1.000000,Urban,Y
202,LP002111,Male,Yes,0,Graduate,No,3016,1300,100.000000,360.000000,0.825444,Urban,Y
203,LP002117,Female,Yes,0,Graduate,No,3159,2374,108.000000,360.000000,1.000000,Semiurban,Y
204,LP002118,Female,No,0,Graduate,No,1937,1152,78.000000,360.000000,1.000000,Semiurban,Y
205,LP002123,Male,Yes,0,Graduate,No,2613,2417,123.000000,360.000000,1.000000,Semiurban,Y
206,LP002125,Male,Yes,1,Graduate,No,4960,2600,187.000000,360.000000,1.000000,Semiurban,Y
207,LP002148,Male,Yes,1,Graduate,No,3074,1083,146.000000,360.000000,1.000000,Semiurban,Y
208,LP002152,Female,No,0,Graduate,No,4213,0,80.000000,360.000000,1.000000,Urban,Y
209,LP002165,Male,No,1,Not Graduate,No,2038,4027,100.000000,360.000000,1.000000,Rural,Y
210,LP002167,Female,No,0,Graduate,No,2362,0,55.000000,360.000000,1.000000,Urban,Y
211,LP002168,Male,No,0,Graduate,No,5333,2400,200.000000,360.000000,0.000000,Rural,N
212,LP002172,Male,Yes,3+,Graduate,Yes,5384,0,150.000000,360.000000,1.000000,Semiurban,Y
213,LP002176,Male,No,0,Graduate,No,5708,0,150.000000,360.000000,1.000000,Rural,Y
214,LP002183,Male,Yes,0,Not Graduate,No,3754,3719,118.000000,342.537396,1.000000,Rural,Y
215,LP002184,Male,Yes,0,Not Graduate,No,2914,2130,150.000000,300.000000,1.000000,Urban,Y
216,LP002186,Male,Yes,0,Not Graduate,No,2747,2458,118.000000,36.000000,1.000000,Semiurban,Y
217,LP002192,Male,Yes,0,Graduate,No,7830,2183,212.000000,360.000000,1.000000,Rural,Y
218,LP002195,Male,Yes,1,Graduate,Yes,3507,3148,212.000000,360.000000,1.000000,Rural,Y
219,LP002208,Male,Yes,1,Graduate,No,3747,2139,125.000000,360.000000,1.000000,Urban,Y
220,LP002212,Male,Yes,0,Graduate,No,2166,2166,108.000000,360.000000,0.825444,Urban,Y
221,LP002240,Male,Yes,0,Not Graduate,No,3500,2168,149.000000,360.000000,1.000000,Rural,Y
222,LP002245,Male,Yes,2,Not Graduate,No,2896,0,80.000000,480.000000,1.000000,Urban,Y
223,LP002253,Female,No,1,Graduate,No,5062,0,152.000000,300.000000,1.000000,Rural,Y
224,LP002256,Female,No,2,Graduate,Yes,5184,0,187.000000,360.000000,0.000000,Semiurban,N
225,LP002257,Female,No,0,Graduate,No,2545,0,74.000000,360.000000,1.000000,Urban,Y
226,LP002264,Male,Yes,0,Graduate,No,2553,1768,102.000000,360.000000,1.000000,Urban,Y
227,LP002270,Male,Yes,1,Graduate,No,3436,3809,100.000000,360.000000,1.000000,Rural,Y
228,LP002279,Male,No,0,Graduate,No,2412,2755,130.000000,360.000000,1.000000,Rural,Y
229,LP002286,Male,Yes,3+,Not Graduate,No,5180,0,125.000000,360.000000,0.000000,Urban,N
230,LP002294,Male,No,0,Graduate,No,14911,14507,130.000000,360.000000,1.000000,Semiurban,Y
231,LP002298,Male,No,0,Graduate,Yes,2860,2988,138.000000,360.000000,1.000000,Urban,Y

# Problem Statment:2

# LoanAmount

# Fetch Data

In [29]:
A2=A[A.Loan_Status=="Y"]

In [30]:
A3=A1[A1.Predicted_loan_status=="Y"]

In [31]:
A2.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [32]:
A3.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area',
       'Predicted_loan_status'],
      dtype='object')

In [33]:
A3.columns=A2.columns

In [34]:
A3.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [35]:
A4=pd.concat([A2,A3])

In [36]:
A4.shape

(726, 13)

In [37]:
A4.index=range(0,726,1)

In [38]:
A4.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.000000,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.000000,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.000000,360.0,1.0,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,5417.0,4196.0,267.000000,360.0,1.0,Urban,Y

# Check missing data

In [39]:
A4.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

We can see that data need not to replace any value.

# Define X and Y

In [40]:
A4Y=A4[["LoanAmount"]]

In [41]:
A4X=A4.drop(labels=["LoanAmount","Loan_ID"],axis=1)

In [42]:
con=[]
cat=[]

In [43]:
for i in A4X.columns:
    if(A4X[i].dtype=="object"):
        cat.append(i)
    else:
        con.append(i)

In [44]:
cat

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [45]:
con

['ApplicantIncome', 'CoapplicantIncome', 'Loan_Amount_Term', 'Credit_History']

# Anova Creation

In [46]:
def anova(df,con,cat):
    from statsmodels.formula.api import ols
    from statsmodels.stats.anova import anova_lm
    rel=con+ "~"+cat
    model=ols(rel,df).fit()
    anova_result=anova_lm(model)
    Df=pd.DataFrame(anova_result)
    q=Df["PR(>F)"][cat]
    q=round(q,4)
    return q

In [47]:
for i in cat:
    print("LoanAmount ~",i,"---->",anova(A4,"LoanAmount",i))

LoanAmount ~ Gender ----> 0.0033
LoanAmount ~ Married ----> 0.0
LoanAmount ~ Dependents ----> 0.0002
LoanAmount ~ Education ----> 0.0
LoanAmount ~ Self_Employed ----> 0.0022
LoanAmount ~ Property_Area ----> 0.7651
LoanAmount ~ Loan_Status ----> nan

In [49]:
A4.corr()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
ApplicantIncome,1.000000,-0.126471,0.561649,-0.055181,-0.048044
CoapplicantIncome,-0.126471,1.000000,0.131615,0.011720,-0.049443
LoanAmount,0.561649,0.131615,1.000000,0.060062,-0.078110
Loan_Amount_Term,-0.055181,0.011720,0.060062,1.000000,0.043557
Credit_History,-0.048044,-0.049443,-0.078110,0.043557,1.000000

In [50]:
AX=A4X[["ApplicantIncome","Gender","Married","Dependents","Education","Self_Employed"]]

# Data Preprocessing

In [51]:
cat=[]
con=[]

In [52]:
for i in AX.columns:
    if(AX[i].dtype=="object"):
        cat.append(i)
    else:
        con.append(i)

In [53]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
Xe=pd.DataFrame(ss.fit_transform(AX[con]),columns=con)

Xf=pd.get_dummies(AX[cat])

X3=Xe.join(Xf)

In [54]:
X3.head()

,ApplicantIncome,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes
0,0.120464,0,1,1,0,1,0,0,0,1,0,1,0
1,-0.400528,0,1,0,1,1,0,0,0,1,0,0,1
2,-0.476784,0,1,0,1,1,0,0,0,0,1,1,0
3,0.148077,0,1,1,0,1,0,0,0,1,0,1,0
4,0.041465,0,1,0,1,0,0,1,0,1,0,0,1

# Divide Data into training and testing set

In [55]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X3,A4Y,test_size=0.2,random_state=26)

# RandomForest Regressor

In [57]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(random_state=21)
model=rfr.fit(xtrain,ytrain)

from sklearn.model_selection import GridSearchCV
rfr=RandomForestRegressor(random_state=21)
tg={"min_samples_leaf":range(1,20,1)}
cv=GridSearchCV(rfr,tg,scoring="neg_mean_absolute_error",cv=3)
cvmodel=cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'min_samples_leaf': 5}

In [58]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X3,A4Y,test_size=0.2,random_state=26)

from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(random_state=21,min_samples_leaf=5)
model=rfr.fit(xtrain,ytrain)


from sklearn.metrics import mean_squared_error

pred_ts=model.predict(xtest)
pred_trr=model.predict(xtrain)

training_error=mean_squared_error(ytrain,pred_trr)
print("Training_error: ",round(training_error,2))

testing_error=mean_squared_error(ytest,pred_ts)
print("Testing_error: ",round(testing_error,2))

Training_error:  2378.79
Testing_error:  3788.04

# Test Data

# Fetch Data

In [59]:
A4test=A1[A1.Predicted_loan_status=="N"]

In [60]:
A4test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_loan_status
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,N
13,LP001094,Male,Yes,2,Graduate,No,12173,0,166.0,360.0,0.0,Semiurban,N
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural,N
35,LP001203,Male,No,0,Graduate,No,3150,0,176.0,360.0,0.0,Semiurban,N
55,LP001313,Male,No,0,Graduate,No,2750,0,130.0,360.0,0.0,Urban,N

In [61]:
A5test=A4test[["ApplicantIncome","Gender","Married","Dependents","Education","Self_Employed"]]

In [62]:
A5test.columns

Index(['ApplicantIncome', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed'],
      dtype='object')

In [63]:
AX.columns

Index(['ApplicantIncome', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed'],
      dtype='object')

In [64]:
A5test.shape

(63, 6)

In [65]:
A5test.index=range(0,63,1)

# Data Preprocessing

In [66]:
cat=[]
con=[]

In [67]:
for i in A5test.columns:
    if(A5test[i].dtype=="object"):
        cat.append(i)
    else:
        con.append(i)

In [68]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
Xg=pd.DataFrame(ss.fit_transform(A5test[con]),columns=con)

Xh=pd.get_dummies(A5test[cat])

X4=Xg.join(Xh)

In [69]:
X4.head()

,ApplicantIncome,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes
0,-0.088489,0,1,0,1,0,0,1,0,0,1,1,0
1,1.873584,0,1,0,1,0,0,1,0,1,0,1,0
2,-1.006821,0,1,1,0,1,0,0,0,1,0,1,0
3,-0.261460,0,1,1,0,1,0,0,0,1,0,1,0
4,-0.356109,0,1,1,0,1,0,0,0,1,0,1,0

# Predict LoanAmount

In [70]:
model.predict(X4)

array([125.69627591, 209.30958534,  88.88373619, 127.4182219 ,
       110.55812585, 118.57587868,  78.71435398, 147.19444816,
       137.40414496, 125.18437731, 121.10796567, 167.22275823,
       127.27745541, 121.3542603 , 127.05669422,  87.08844803,
        85.46703485,  82.84667019,  84.86696222,  99.5415539 ,
       139.45946241, 180.15608594, 145.71726809, 208.82787245,
       437.7413432 , 197.62182051, 122.32819148, 115.17825405,
       112.34276607,  95.10874663,  90.65362764, 126.19527718,
       127.16579622, 146.93424095, 102.62603409, 175.2596287 ,
       117.28865324, 164.879191  , 145.10580011, 164.6361337 ,
       103.44210909,  86.13562048, 123.54522697, 117.85816757,
       114.79448926, 110.04825938, 113.66657346, 128.98803389,
       182.09406803, 182.00749349, 116.8638685 , 122.76850459,
       211.32035236, 118.86754856, 206.46062732,  94.41596191,
        97.72030092, 112.91058451, 102.81353058, 138.34284151,
       126.63706591, 106.632268  , 164.49469192])

In [71]:
A4test["predict_amount"]=model.predict(X4)

In [72]:
A4test

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_loan_status,predict_amount
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.000000,360.000000,0.000000,Rural,N,125.696276
13,LP001094,Male,Yes,2,Graduate,No,12173,0,166.000000,360.000000,0.000000,Semiurban,N,209.309585
25,LP001153,Male,No,0,Graduate,No,0,24000,148.000000,360.000000,0.000000,Rural,N,88.883736
35,LP001203,Male,No,0,Graduate,No,3150,0,176.000000,360.000000,0.000000,Semiurban,N,127.418222
55,LP001313,Male,No,0,Graduate,No,2750,0,130.000000,360.000000,0.000000,Urban,N,110.558126
58,LP001323,Female,Yes,2,Graduate,No,2779,3664,176.000000,360.000000,0.000000,Semiurban,N,118.575879
63,LP001347,Female,No,0,Graduate,No,2101,1500,108.000000,360.000000,0.000000,Rural,N,78.714354
66,LP001352,Male,Yes,0,Not Graduate,No,4700,0,135.000000,360.000000,0.000000,Semiurban,N,147.194448
67,LP001358,Male,Yes,0,Graduate,No,3445,0,130.000000,360.000000,0.000000,Semiurban,N,137.404145
69,LP001361,Male,Yes,0,Graduate,No,2458,5105,188.000000,360.000000,0.000000,Rural,N,125.184377
80,LP001420,Male,Yes,3+,Graduate,No,3829,1103,163.000000,360.000000,0.000000,Urban,N,121.107966
82,LP001445,Male,Yes,2,Not Graduate,No,4136,0,149.000000,480.000000,0.000000,Rural,N,167.222758
84,LP001450,Male,Yes,0,Graduate,No,4456,0,131.000000,180.000000,0.000000,Semiurban,N,127.277455
94,LP001496,Male,Yes,1,Graduate,No,4609,2333,123.000000,360.000000,0.000000,Semiurban,N,121.354260
101,LP001542,Female,Yes,0,Graduate,No,2262,0,136.132597,480.000000,0.000000,Semiurban,N,127.056694
106,LP001563,Male,No,0,Graduate,No,1596,1760,119.000000,360.000000,0.000000,Urban,N,87.088448
117,LP001611,Male,Yes,1,Graduate,No,1516,2900,80.000000,342.537396,0.000000,Rural,N,85.467035
118,LP001613,Female,No,0,Graduate,No,1762,2666,104.000000,360.000000,0.000000,Urban,N,82.846670
119,LP001622,Male,Yes,2,Graduate,No,724,3510,213.000000,360.000000,0.000000,Rural,N,84.866962
123,LP001652,Male,No,0,Graduate,No,2500,6414,187.000000,360.000000,0.000000,Rural,N,99.541554
124,LP001655,Female,No,0,Graduate,No,12500,0,300.000000,360.000000,0.000000,Urban,N,139.459462
126,LP001662,Male,No,0,Graduate,No,6500,0,71.000000,360.000000,0.000000,Urban,N,180.156086
140,LP001785,Male,No,0,Graduate,No,4727,0,150.000000,360.000000,0.000000,Rural,N,145.717268
142,LP001789,Male,Yes,3+,Not Graduate,No,6794,528,139.000000,360.000000,0.000000,Urban,N,208.827872
143,LP001791,Male,Yes,0,Graduate,Yes,32000,0,550.000000,360.000000,0.825444,Semiurban,N,437.741343
147,LP001817,Male,No,0,Not Graduate,Yes,8703,0,199.000000,360.000000,0.000000,Rural,N,197.621821
153,LP001853,Male,Yes,1,Not Graduate,No,2463,2360,117.000000,360.000000,0.000000,Urban,N,122.328191
161,LP001906,Male,No,0,Graduate,No,2964,0,84.000000,360.000000,0.000000,Semiurban,N,115.178254
165,LP001923,Male,No,0,Not Graduate,No,2268,0,170.000000,360.000000,0.000000,Semiurban,N,112.342766
166,LP001933,Male,No,2,Not Graduate,No,1141,2017,120.000000,360.000000,0.000000,Urban,N,95.108747
168,LP001950,Female,Yes,3+,Graduate,No,1750,2935,94.000000,360.000000,0.000000,Semiurban,N,90.653628
173,LP001979,Male,No,0,Graduate,No,3017,2845,159.000000,180.000000,0.000000,Urban,N,126.195277
174,LP001995,Male,Yes,0,Not Graduate,No,2431,1820,110.000000,360.000000,0.000000,Rural,N,127.165796
192,LP002069,Male,Yes,2,Not Graduate,No,3785,2912,180.000000,360.000000,0.000000,Rural,N,146.934241
193,LP002070,Male,Yes,3+,Not Graduate,No,2654,1998,128.000000,360.000000,0.000000,Rural,N,102.626034
196,LP002090,Male,Yes,1,Graduate,No,4796,0,114.000000,360.000000,0.000000,Semiurban,N,175.259629
198,LP002099,Male,Yes,2,Graduate,No,2540,700,104.000000,360.000000,0.000000,Urban,N,117.288653
211,LP002168,Male,No,0,Graduate,No,5333,2400,200.000000,360.000000,0.000000,Rural,N,164.879191
224,LP002256,Female,No,2,Graduate,Yes,5184,0,187.000000,360.000000,0.000000,Semiurban,N,145.105800
229,LP002286,Male,Yes,3+,Not Graduate,No,5180,0,125.000000,360.000000,0.000000,Urban,N,164.636134
235,LP002316,Male,No,0,Graduate,No,2231,2774,176.000000,360.000000,0.000000,Urban,N,103.442109
236,LP002321,Female,No,0,Graduate,No,2274,5211,117.000000,360.000000,0.000000,Semiurban,N,86.135620
241,LP002339,Male,Yes,0,Graduate,No,3887,1517,105.000000,360.000000,0.000000,Semiurban,N,123.545227
243,LP002346,Male,Yes,0,Graduate,No,2539,1704,125.000000,360.000000,0.000000,Rural,N,117.858168
245,LP002355,Male,Yes,0,Graduate,No,3186,3145,150.000000,180.000000,0.000000,Semiurban,N,114.794489
250,LP002383,Male,Yes,3+,Graduate,No,3242,437,142.000000,480.000000,0.000000,Urban,N,110.048259
255,LP002399,Male,No,0,Graduate,No,2858,0,123.000000,360.000000,0.000000,Rural,N,113.666573
266,LP002442,Female,Yes,1,Not Graduate,No,3835,1400,112.000000,480.000000,0.000000,Urban,N,128.988034
268,LP002450,Male,Yes,2,Graduate,No,5833,750,49.000000,360.000000,0.000000,Rural,N,182.094068
273,LP002495,Male,Yes,2,Graduate,No,5667,440,130.000000,360.000000,0.000000,Semiurban,N,182.007493
274,LP002496,Female,No,0,Graduate,No,3500,0,94.000000,360.000000,0.000000,Semiurban,N,116.863869
278,LP002551,Male,Yes,3+,Not Graduate,No,3634,910,176.000000,360.000000,0.000000,Semiurban,N,122.768505
284,LP002570,Female,Yes,2,Graduate,No,10000,11666,460.000000,360.000000,1.000000,Urban,N,211.320352
293,LP002609,Female,Yes,0,Graduate,No,2241,2000,88.000000,360.000000,0.000000,Urban,N,118.867549
301,LP002651,Male,Yes,1,Graduate,No,6300,0,125.000000,360.000000,0.000000,Urban,N,206.460627
311,LP002747,Female,No,3+,Graduate,No,2366,5272,153.000000,360.000000,0.000000,Rural,N,94.415962
317,LP002774,Male,Yes,0,Not Graduate,No,1700,2900,67.000000,360.000000,0.000000,Urban,N,97.720301
325,LP002802,Male,No,0,Graduate,No,2875,2416,95.000000,6.000000,0.000000,Semiurban,N,112.910585
336,LP002853,Female,No,0,Not Graduate,No,3015,2000,145.000000,360.000000,0.825444,Urban,N,102.813531
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.000000,360.000000,0.000000,Rural,N,138.342842
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.000000,360.000000,0.000000,Rural,N,126.637066
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.000000,360.000000,0.825444,Rural,N,106.632268
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.000000,180.000000,0.000000,Semiurban,N,164.494692

# Problem Statment:3

# Loan Amount Term

# Fetch Data

In [73]:
A6=pd.read_csv("C:/Users/Anuj.kumar/Desktop/training_sett.csv")

In [94]:
A6.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.00000,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,5405.54085,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.00000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.00000,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.00000,0.0,141.000000,360.0,1.0,Urban,Y

# Check missing data

In [74]:
A6.isna().sum()

Loan_ID               0
Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

# Replace missing values

In [75]:
for i in A6.columns:
    if(A6[i].dtype=="object"):
        replace=A6[i].mode()[0]
        A6[i]=A6[i].fillna(replace)
    else:
        replace=A6[i].mean()
        A6[i]=A6[i].fillna(replace)

In [76]:
A6.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [77]:
A6.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.00000,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,5405.54085,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.00000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.00000,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.00000,0.0,141.000000,360.0,1.0,Urban,Y

# Define X and Y

In [78]:
A6Y=A6[["Loan_Amount_Term"]]

In [79]:
A6X=A6.drop(labels=["Loan_Amount_Term","Loan_ID"],axis=1)

In [80]:
A6.corr()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
ApplicantIncome,1.000000,-0.116625,0.565552,-0.045147,-0.014323
CoapplicantIncome,-0.116625,1.000000,0.187884,-0.059710,-0.001720
LoanAmount,0.565552,0.187884,1.000000,0.038801,-0.007738
Loan_Amount_Term,-0.045147,-0.059710,0.038801,1.000000,0.001395
Credit_History,-0.014323,-0.001720,-0.007738,0.001395,1.000000

In [81]:
cat=[]
con=[]

In [82]:
for i in A6X.columns:
    if(A6X[i].dtype=="object"):
        cat.append(i)
    else:
        con.append(i)

In [83]:
cat

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [84]:
con

['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Credit_History']

# Anova Creation

In [85]:
def anova(df,con,cat):
    from statsmodels.formula.api import ols
    from statsmodels.stats.anova import anova_lm
    rel=con+ "~"+cat
    model=ols(rel,df).fit()
    anova_result=anova_lm(model)
    Df=pd.DataFrame(anova_result)
    q=Df["PR(>F)"][cat]
    q=round(q,4)
    return q

In [86]:
for i in cat:
    print("Loan_Amount_Term ~",i,"---->",anova(A6,"Loan_Amount_Term",i))

Loan_Amount_Term ~ Gender ----> 0.0685
Loan_Amount_Term ~ Married ----> 0.0124
Loan_Amount_Term ~ Dependents ----> 0.014
Loan_Amount_Term ~ Education ----> 0.0558
Loan_Amount_Term ~ Self_Employed ----> 0.4011
Loan_Amount_Term ~ Property_Area ----> 0.055
Loan_Amount_Term ~ Loan_Status ----> 0.604

In [87]:
A7X=A6X[["Gender","Married","Dependents","Education","Property_Area","LoanAmount"]]

# Data Preprocessing

In [95]:
cat=[]
con=[]

In [96]:
for i in A7X.columns:
    if(A7X[i].dtype=="object"):
        cat.append(i)
    else:
        con.append(i)

In [97]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
Xi=pd.DataFrame(ss.fit_transform(A7X[con]),columns=con)

Xj=pd.get_dummies(A7X[cat])

X5=Xi.join(Xj)

In [117]:
X5.head()

,LoanAmount,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.000000,0,1,1,0,1,0,0,0,1,0,0,0,1
1,-0.219273,0,1,0,1,0,1,0,0,1,0,1,0,0
2,-0.957641,0,1,0,1,1,0,0,0,1,0,0,0,1
3,-0.314547,0,1,0,1,1,0,0,0,0,1,0,0,1
4,-0.064454,0,1,1,0,1,0,0,0,1,0,0,0,1

# Divide Data into training and testing set

In [98]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X5,A6Y,test_size=0.2,random_state=26)

# RandomForest Regressor

In [99]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(random_state=21)
model=rfr.fit(xtrain,ytrain)

from sklearn.model_selection import GridSearchCV
rfr=RandomForestRegressor(random_state=21)
tg={"min_samples_split":range(1,20,1)}
cv=GridSearchCV(rfr,tg,scoring="neg_mean_absolute_error",cv=3)
cvmodel=cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'min_samples_split': 19}

In [100]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(random_state=26,min_samples_split=19)
model=rfr.fit(xtrain,ytrain)

from sklearn.metrics import mean_squared_error

pred_ts=model.predict(xtest)
pred_trr=model.predict(xtrain)

training_error=mean_squared_error(ytrain,pred_trr)
print("Training_error: ",round(training_error,2))

testing_error=mean_squared_error(ytest,pred_ts)
print("Testing_error: ",round(testing_error,2))

Training_error:  2875.99
Testing_error:  3158.56

# Test Data

# Fetch Data

In [101]:
A7test=A1[A1.Predicted_loan_status=="N"]

In [103]:
A7test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_loan_status
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,N
13,LP001094,Male,Yes,2,Graduate,No,12173,0,166.0,360.0,0.0,Semiurban,N
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural,N
35,LP001203,Male,No,0,Graduate,No,3150,0,176.0,360.0,0.0,Semiurban,N
55,LP001313,Male,No,0,Graduate,No,2750,0,130.0,360.0,0.0,Urban,N

In [126]:
A7test.shape

(63, 13)

In [127]:
A7test.index=range(0,63,1)

In [128]:
A7test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_loan_status
0,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,N
1,LP001094,Male,Yes,2,Graduate,No,12173,0,166.0,360.0,0.0,Semiurban,N
2,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural,N
3,LP001203,Male,No,0,Graduate,No,3150,0,176.0,360.0,0.0,Semiurban,N
4,LP001313,Male,No,0,Graduate,No,2750,0,130.0,360.0,0.0,Urban,N

# Define X

In [104]:
A8test=A7test[["Gender","Married","Dependents","Education","Property_Area","LoanAmount"]]

In [106]:
A8test.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Property_Area',
       'LoanAmount'],
      dtype='object')

In [108]:
A8test.shape

(63, 6)

In [109]:
A8test.head()

   Gender Married Dependents     Education Property_Area  LoanAmount
7    Male     Yes          2  Not Graduate         Rural       147.0
13   Male     Yes          2      Graduate     Semiurban       166.0
25   Male      No          0      Graduate         Rural       148.0
35   Male      No          0      Graduate     Semiurban       176.0
55   Male      No          0      Graduate         Urban       130.0

In [110]:
A8test.index=range(0,63,1)

In [112]:
A8test.head()

  Gender Married Dependents     Education Property_Area  LoanAmount
0   Male     Yes          2  Not Graduate         Rural       147.0
1   Male     Yes          2      Graduate     Semiurban       166.0
2   Male      No          0      Graduate         Rural       148.0
3   Male      No          0      Graduate     Semiurban       176.0
4   Male      No          0      Graduate         Urban       130.0

# Data Preproccessing

In [113]:
cat=[]
con=[]

In [114]:
for i in A8test.columns:
    if(A8test[i].dtype=="object"):
        cat.append(i)
    else:
        con.append(i)

In [135]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
Xk=pd.DataFrame(ss.fit_transform(A8test[con]),columns=con)

Xl=pd.get_dummies(A8test[cat])

X6=Xk.join(Xl)

In [136]:
X6.head()

,LoanAmount,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,-0.029154,0,1,0,1,0,0,1,0,0,1,1,0,0
1,0.219881,0,1,0,1,0,0,1,0,1,0,0,1,0
2,-0.016047,0,1,1,0,1,0,0,0,1,0,1,0,0
3,0.350952,0,1,1,0,1,0,0,0,1,0,0,1,0
4,-0.251975,0,1,1,0,1,0,0,0,1,0,0,0,1

In [137]:
X6.shape

(63, 14)

# Predict LoanAmount Term

In [138]:
model.predict(X6)

array([302.51832682, 343.03916903, 359.01154835, 344.09806742,
       322.8995763 , 342.2889583 , 369.70099179, 347.95180652,
       358.12557735, 346.32041586, 319.69269737, 336.75343511,
       359.34307735, 360.70350917, 326.97031701, 371.37262078,
       311.43990429, 363.76410696, 344.9980024 , 350.12107048,
       363.82739496, 354.05491734, 357.76225143, 303.53177508,
       315.9050177 , 357.61262612, 252.84443469, 332.6827068 ,
       347.39981897, 310.95522101, 354.26896386, 332.46797074,
       356.57217292, 341.86549647, 342.94584987, 342.15543464,
       339.61508451, 356.72107048, 341.09901304, 302.15338271,
       346.55090288, 353.48648587, 357.19220716, 352.2805743 ,
       348.88363357, 314.29332275, 350.58370387, 293.98355554,
       269.50789579, 356.63215732, 358.87937384, 341.46567891,
       286.30692786, 317.85918008, 312.46376116, 351.45315514,
       296.82434487, 363.50490782, 349.1702616 , 370.33690577,
       353.48202205, 361.08904064, 319.82776552])

In [139]:
A7test["Predicted Loan Amount Term"]=model.predict(X6)

In [140]:
A7test

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_loan_status,Predicted Loan Amount Term
0,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.000000,360.000000,0.000000,Rural,N,302.518327
1,LP001094,Male,Yes,2,Graduate,No,12173,0,166.000000,360.000000,0.000000,Semiurban,N,343.039169
2,LP001153,Male,No,0,Graduate,No,0,24000,148.000000,360.000000,0.000000,Rural,N,359.011548
3,LP001203,Male,No,0,Graduate,No,3150,0,176.000000,360.000000,0.000000,Semiurban,N,344.098067
4,LP001313,Male,No,0,Graduate,No,2750,0,130.000000,360.000000,0.000000,Urban,N,322.899576
5,LP001323,Female,Yes,2,Graduate,No,2779,3664,176.000000,360.000000,0.000000,Semiurban,N,342.288958
6,LP001347,Female,No,0,Graduate,No,2101,1500,108.000000,360.000000,0.000000,Rural,N,369.700992
7,LP001352,Male,Yes,0,Not Graduate,No,4700,0,135.000000,360.000000,0.000000,Semiurban,N,347.951807
8,LP001358,Male,Yes,0,Graduate,No,3445,0,130.000000,360.000000,0.000000,Semiurban,N,358.125577
9,LP001361,Male,Yes,0,Graduate,No,2458,5105,188.000000,360.000000,0.000000,Rural,N,346.320416
10,LP001420,Male,Yes,3+,Graduate,No,3829,1103,163.000000,360.000000,0.000000,Urban,N,319.692697
11,LP001445,Male,Yes,2,Not Graduate,No,4136,0,149.000000,480.000000,0.000000,Rural,N,336.753435
12,LP001450,Male,Yes,0,Graduate,No,4456,0,131.000000,180.000000,0.000000,Semiurban,N,359.343077
13,LP001496,Male,Yes,1,Graduate,No,4609,2333,123.000000,360.000000,0.000000,Semiurban,N,360.703509
14,LP001542,Female,Yes,0,Graduate,No,2262,0,136.132597,480.000000,0.000000,Semiurban,N,326.970317
15,LP001563,Male,No,0,Graduate,No,1596,1760,119.000000,360.000000,0.000000,Urban,N,371.372621
16,LP001611,Male,Yes,1,Graduate,No,1516,2900,80.000000,342.537396,0.000000,Rural,N,311.439904
17,LP001613,Female,No,0,Graduate,No,1762,2666,104.000000,360.000000,0.000000,Urban,N,363.764107
18,LP001622,Male,Yes,2,Graduate,No,724,3510,213.000000,360.000000,0.000000,Rural,N,344.998002
19,LP001652,Male,No,0,Graduate,No,2500,6414,187.000000,360.000000,0.000000,Rural,N,350.121070
20,LP001655,Female,No,0,Graduate,No,12500,0,300.000000,360.000000,0.000000,Urban,N,363.827395
21,LP001662,Male,No,0,Graduate,No,6500,0,71.000000,360.000000,0.000000,Urban,N,354.054917
22,LP001785,Male,No,0,Graduate,No,4727,0,150.000000,360.000000,0.000000,Rural,N,357.762251
23,LP001789,Male,Yes,3+,Not Graduate,No,6794,528,139.000000,360.000000,0.000000,Urban,N,303.531775
24,LP001791,Male,Yes,0,Graduate,Yes,32000,0,550.000000,360.000000,0.825444,Semiurban,N,315.905018
25,LP001817,Male,No,0,Not Graduate,Yes,8703,0,199.000000,360.000000,0.000000,Rural,N,357.612626
26,LP001853,Male,Yes,1,Not Graduate,No,2463,2360,117.000000,360.000000,0.000000,Urban,N,252.844435
27,LP001906,Male,No,0,Graduate,No,2964,0,84.000000,360.000000,0.000000,Semiurban,N,332.682707
28,LP001923,Male,No,0,Not Graduate,No,2268,0,170.000000,360.000000,0.000000,Semiurban,N,347.399819
29,LP001933,Male,No,2,Not Graduate,No,1141,2017,120.000000,360.000000,0.000000,Urban,N,310.955221
30,LP001950,Female,Yes,3+,Graduate,No,1750,2935,94.000000,360.000000,0.000000,Semiurban,N,354.268964
31,LP001979,Male,No,0,Graduate,No,3017,2845,159.000000,180.000000,0.000000,Urban,N,332.467971
32,LP001995,Male,Yes,0,Not Graduate,No,2431,1820,110.000000,360.000000,0.000000,Rural,N,356.572173
33,LP002069,Male,Yes,2,Not Graduate,No,3785,2912,180.000000,360.000000,0.000000,Rural,N,341.865496
34,LP002070,Male,Yes,3+,Not Graduate,No,2654,1998,128.000000,360.000000,0.000000,Rural,N,342.945850
35,LP002090,Male,Yes,1,Graduate,No,4796,0,114.000000,360.000000,0.000000,Semiurban,N,342.155435
36,LP002099,Male,Yes,2,Graduate,No,2540,700,104.000000,360.000000,0.000000,Urban,N,339.615085
37,LP002168,Male,No,0,Graduate,No,5333,2400,200.000000,360.000000,0.000000,Rural,N,356.721070
38,LP002256,Female,No,2,Graduate,Yes,5184,0,187.000000,360.000000,0.000000,Semiurban,N,341.099013
39,LP002286,Male,Yes,3+,Not Graduate,No,5180,0,125.000000,360.000000,0.000000,Urban,N,302.153383
40,LP002316,Male,No,0,Graduate,No,2231,2774,176.000000,360.000000,0.000000,Urban,N,346.550903
41,LP002321,Female,No,0,Graduate,No,2274,5211,117.000000,360.000000,0.000000,Semiurban,N,353.486486
42,LP002339,Male,Yes,0,Graduate,No,3887,1517,105.000000,360.000000,0.000000,Semiurban,N,357.192207
43,LP002346,Male,Yes,0,Graduate,No,2539,1704,125.000000,360.000000,0.000000,Rural,N,352.280574
44,LP002355,Male,Yes,0,Graduate,No,3186,3145,150.000000,180.000000,0.000000,Semiurban,N,348.883634
45,LP002383,Male,Yes,3+,Graduate,No,3242,437,142.000000,480.000000,0.000000,Urban,N,314.293323
46,LP002399,Male,No,0,Graduate,No,2858,0,123.000000,360.000000,0.000000,Rural,N,350.583704
47,LP002442,Female,Yes,1,Not Graduate,No,3835,1400,112.000000,480.000000,0.000000,Urban,N,293.983556
48,LP002450,Male,Yes,2,Graduate,No,5833,750,49.000000,360.000000,0.000000,Rural,N,269.507896
49,LP002495,Male,Yes,2,Graduate,No,5667,440,130.000000,360.000000,0.000000,Semiurban,N,356.632157
50,LP002496,Female,No,0,Graduate,No,3500,0,94.000000,360.000000,0.000000,Semiurban,N,358.879374
51,LP002551,Male,Yes,3+,Not Graduate,No,3634,910,176.000000,360.000000,0.000000,Semiurban,N,341.465679
52,LP002570,Female,Yes,2,Graduate,No,10000,11666,460.000000,360.000000,1.000000,Urban,N,286.306928
53,LP002609,Female,Yes,0,Graduate,No,2241,2000,88.000000,360.000000,0.000000,Urban,N,317.859180
54,LP002651,Male,Yes,1,Graduate,No,6300,0,125.000000,360.000000,0.000000,Urban,N,312.463761
55,LP002747,Female,No,3+,Graduate,No,2366,5272,153.000000,360.000000,0.000000,Rural,N,351.453155
56,LP002774,Male,Yes,0,Not Graduate,No,1700,2900,67.000000,360.000000,0.000000,Urban,N,296.824345
57,LP002802,Male,No,0,Graduate,No,2875,2416,95.000000,6.000000,0.000000,Semiurban,N,363.504908
58,LP002853,Female,No,0,Not Graduate,No,3015,2000,145.000000,360.000000,0.825444,Urban,N,349.170262
59,LP002858,Female,No,0,Graduate,No,4333,2333,162.000000,360.000000,0.000000,Rural,N,370.336906
60,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.000000,360.000000,0.000000,Rural,N,353.482022
61,LP002901,Male,No,0,Graduate,No,2283,15000,106.000000,360.000000,0.825444,Rural,N,361.089041
62,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.000000,180.000000,0.000000,Semiurban,N,319.827766